<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Star Social</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Anton|Baloo+Thambi+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'simplesocial/css/master.css' %}">

</head>
<body>
  <canvas id="canvas"></canvas>
  <br>

  <nav class="navbar mynav" role="navigation" id="navbar">

    <div class="container" style="font-family: 'Anton', sans-serif;">
      <a class="navbar-brand mynav" href="{% url 'home' %}" style="font-size: 3.8em;"><b>Star Social</b></a>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'posts:create' %}" style="font-size: 2em;">Post</a></li>
          <li><a href="{% url 'groups:all' %}" style="font-size: 2em;">Groups</a></li>
          <li><a href="{% url 'groups:create' %}" style="font-size: 2em;">Create Group</a></li>
          <li><a href="{% url 'accounts:logout' %}" style="font-size: 2em;">Logout</a></li>
        {% else %}
          <li><a href="{% url 'groups:all' %}" style="font-size: 2em;">Groups</a></li>
          <li><a href="{% url 'accounts:login' %}" style="font-size: 2em;">Login</a></li>
          <li><a href="{% url 'accounts:signup' %}" style="font-size: 2em;">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>

  </nav>
  <br><br><br>

  <div class="container mycontent" style="font-family: 'Anton', sans-serif;">
    {% block content %}
    {% endblock %}
  </div>

</body>

<script type="text/javascript" src="{% static 'simplesocial/js/master.js' %}"></script>

</html>
